@model KarYab.Models.ViewModel.ResumeViewModel
@using System;
@using System.Web;
@using System.Web.Mvc;
@using KarYab.Models.Enum
@using KarYab.MadadStatics
@{
    ViewBag.Title = "مشاهده";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>رزومه</h1>
<hr />
<h2>مشخصات فردی</h2>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <img src="@Url.Action("GetImage", "Image", new { HumanID = ViewBag.HumanID })" style="width:100px;height:100px;" />
        </div> 
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-3">
          @Model.NAME
        </div>
        
    </div>
    <div class="row">
        <div class="col-md-3">
          @Enum.GetName(typeof(GenderEnum), Model.GENDER).ToString()
        </div>
    </div>
    @*<div class="row">
        <div class="col-md-3">
           @Enum.GetName(typeof(UsageEnum), Model.USAGE).ToString()
        </div>
    </div>*@
    @if (Model.Skills.Any())
    {
        
    <hr />
    <h2>
        مهارت ها
    </h2>
    <ul class="list-group">
        @foreach (var item in Model.Skills)
        {
          <li class="list-group-item">
              <div class="container" >
                  <div class="row">
                      <div class="col-md-2">
                          مهارت: @item.SKILLNAME
                      </div>
                      <div class="col-md-2">
                          مرتبه: @Enum.GetName(typeof(EfficienyEnum), item.SKILLEFFICENYID).ToString()
                      </div>
                     
                      <div class="col-sm-4">
                          توضیحات: @item.SKILLDESCRIPTION
                      </div>
                  </div>
              </div>
          </li>
        }
    </ul>
    }
    @if (Model.Experiences.Any())
    {
    <hr />
    <h2>
        سوابق شغلی
    </h2>
    <ul class="list-group">
        @foreach (var item in Model.Experiences)
{
    <li class="list-group-item">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    نام محل کار: @item.EXPERIENCELOCATOION
                </div>
                <div class="col-md-2">
                    مدت همکاری به ماه: @item.EXPERIENCEDURATION ماه
                </div>
            </div>
        </div>
    </li>


}
    </ul>
    }
    @if (Model.Experiences.Any())
    {
    <hr />
    <h2>
       سوابق تحصیلی
    </h2>
    <ul class="list-group">
        @foreach (var item in Model.Educations)
        {
            <li class="list-group-item">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            نام محل تحصیل: @item.EDUCATIONLOCATION
                        </div>
                        <div class="col-md-3">
                            رشته: @item.EDUCATIONBRANCH
                        </div>
                        <div class="col-md-3">
                            مقطع: @item.EDUCATIONDIPLOMA
                        </div>
                        <div class="col-md-2">
                           مدت دوره به ماه: @item.EDUCATIONDURATION ماه
                        </div>
                        <div class="co-md-1">
                            معدل: @item.FINALGRADE
                        </div>
                    </div>
                </div>
                
            </li>
            
            
          
            
            

        }
    </ul>
    }
    @if (Model.Emails.Any() || Model.Phones.Any() || Model.Cellphones.Any() || Model.Adresses.Any())
    { 
    <hr />
    <h2>
        اطلاعات تماس
    </h2>
if (Model.Emails.Any())
    {
    <hr />
    <h3>
         ایمیل ها
    </h3>
    <hr />
    <ul>
        @foreach (var item in Model.Emails)
        {
            <li>
                آدرس ایمیل: @item.MAILADRESS1
            </li>
            
        }
    </ul>
}
if (Model.Phones.Any())
    {
    <hr />
    <h3>
        شماره های ثابت
    </h3>
    <hr />
    <ul>
        @foreach (var item in Model.Phones)
        {
            <li>
                 شماره تماس ثابت: @item.PHONENUMBER
            </li>
           
        }
    </ul>
}
if (Model.Cellphones.Any())
    {
    <hr />
    <h3>
        شماره های همراه
    </h3>
    <hr />
    <ul>
        @foreach (var item in Model.Cellphones)
        {
            <li>
                شماره همراه: @item.CELLPHONENUMBER
            </li> 
            
        }
    </ul>
}
if (Model.Adresses.Any())
    {
    <hr />
    <h3>
        محل سکونت
    </h3>
    <hr />
    <ul>
        @foreach (var item in Model.Adresses)
        {
            <li>
                شهر: @item.ADRESS1
            </li>
            
        }
    </ul>
}
    }
</div>
